<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>암호 초기화</h1>
    <p>new password : <%= @password %></p>
  </body>
</html>
