<h1>forgot password?</h1>
<p>암호는 DB에 암화화되어 저장되어 복구할 수 없습니다.
마이스누 아이디를 입력해주시면 새로운 암호를 생성하여 보내드립니다.</p>

<%= form_for :user, url: reset_password_path do |f|  %>
  <div>
  <%= f.label :mysnu  %><br />
  <%= f.text_field :mysnu  %>@snu.ac.kr
  </div>

  <div>
  <%= f.submit "Reset Password" %>
  </div>
<% end %>
