<section id="about">
    <div class="inner-block">
        <div class="container">
            <header>
                <h2>프로필</h2>
                <span class="line"></span>
            </header>

            <% if !@user.active %>
              <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>이메일 인증이 되지 않았습니다.</strong><br />
              서비스를 정상적으로 이용하기 위해서는 마이스누 웹메일을 통한 인증이 필요합니다.
              이메일을 받지 못하신 경우 <%= link_to "재발송", resend_activation_email_path, method: :post  %> 링크를 클릭해주세요.
              </div>
            <% else %>
              <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>당신은 상대방을 배려하는 좋은 사용자입니다.</strong><br />
              </div>
            <% end %>

            <div class="row intro">
                <div class="col-lg-12">
                    <h3>
                    </h3>
                </div>
            </div>

            <div class="row text">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
