<section id="features-wrapper">
    <div class="container">
        <!-- features 1 -->
        <div class="inner-block features1">
            <header>
                <h2>서울대학교 소통 커뮤니티, 스누챗</h2>
                <span class="line"></span>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="intro">
                      조금은 더 솔직하고, 조금은 더 발칙한 이야기들<br />
                      스누챗은 당신을 위한 서비스입니다.<br />
                      현재 다음과 같은 기능들이 제공되고 있습니다.
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 feature">
                    <img src="<%= asset_path "feature1.jpg"  %>" alt="feature1" class="img-responsive thumb" />
                    <h3>
                        <i class="icon-cloud-upload"></i> 스누챗
                    </h3>
                    <p class="description">
                      스누챗이 사라졌다고요? 이제는 새로운 스누챗팅을 이용해보는건 어떨까요?
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature">
                    <img src="<%= asset_path "feature2.jpg"  %>" alt="feature2" class="img-responsive thumb" />
                    <h3>
                        <i class="icon-signal"></i> 스누밤부
                    </h3>
                    <p class="description">
                      페이스북에서 운영하는 대나무숲이요? 이제는 스누챗에서 한번에 확인하세요.
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature">
                    <img src="<%= asset_path "feature3.jpg"  %>" alt="feature3" class="img-responsive thumb" />
                    <h3>
                        <i class="icon-mobile-phone"></i> 에스크스누
                    </h3>
                    <p class="description">
                      "23살 여자 질문받아요.", "30살 마법사 질문받습니다." 등 질문에 최적화된 서비스 스누퀘스쳔?
                    </p>
                </div>
            </div>
        </div>

        <!-- features 2 -->
        <div class="inner-block features2">
            <header>
                <h2>다양한 기능 지원</h2>
                <span class="line"></span>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="intro">
                      스누챗은 다양한 기능을 지원합니다.
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 feature2">
                    <div class="icon">
                        <i class="icon-cloud-upload"></i>
                    </div>
                    <h4>Many desktop publishing editor these available</h4>
                    <p>
                        You can't do better design with a computer, but you can speed up your work
                        enormously.
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature2">
                    <div class="icon">
                        <i class="icon-wrench"></i>
                    </div>
                    <h4>Many desktop publishing editor these available</h4>
                    <p>
                        You can't do better design with a computer, but you can speed up your work
                        enormously.
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature2">
                    <div class="icon">
                        <i class="icon-signal"></i>
                    </div>
                    <h4>Many desktop publishing editor these available</h4>
                    <p>
                        You can't do better design with a computer, but you can speed up your work
                        enormously.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 feature2">
                    <div class="icon">
                        <i class="icon-lock"></i>
                    </div>
                    <h4>Many desktop publishing editor these available</h4>
                    <p>
                        You can't do better design with a computer, but you can speed up your work
                        enormously.
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature2">
                    <div class="icon">
                        <i class="icon-mobile-phone"></i> 
                    </div>
                    <h4>Many desktop publishing editor these available</h4>
                    <p>
                        You can't do better design with a computer, but you can speed up your work
                        enormously.
                    </p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 feature2">
                    <div class="icon">
                        <i class="icon-beaker"></i>
                    </div>
                    <h4>Many desktop publishing editor these available</h4>
                    <p>
                        You can't do better design with a computer, but you can speed up your work
                        enormously.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
