<!-- Banner -->
<section class="banner">
  <div class="container">
    <div class="row">
      <h1>서울대생을 실시간 익명 채팅 커뮤니티 <span>스누챗 </span>에 오신 것을 환영합니다.</h1>

      <div class="img">
        <img class="img-responsive" src="<%= asset_path 'devices.png' %>">
      </div>
    </div>	
  </div>
</section>
